[Bb]uild/
[Oo]ut/
[Bb]in/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
docs/html/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CMakeUserPresets.json
.clangd

*.exe
*.out
*.app
*.bin
*.so
*.dll
*.dylib
*.a
*.lib
*.pdb

*.o
*.obj
*.gch
*.pch
*.d

*~
*.swp
*.swo
.undo/
.clangd/
.cache/

.vscode/
.idea/
*.user
*.user.*
*.suo
*.sln
*.vcxproj
*.filters
